:root{
    --oscuro:#07070A;
    --azulOscuro:#0A1128;
    --azulClaro:#006FE6;
    --blanco:#FEFCFB;
    --titulos: 'Baloo 2', cursive;
    --parrafos: 'Monserrat', sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-size: 1,6rem;
}
/* para que un contenedor tenga la misma altura cuando se añade padding 
es los siguiente
body{
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: inherit;*/ 
html{
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: inherit;
}
/*Estilos globales*/
h1,h2, h3 {
    font-family: var(--titulos);
}

p, a{
    font-family: var(--parrafos);
   
}



html{
    box-sizing: border-box;
    font-size 62,5%; /*pasa a ser la fuente de valor 10 px*/
}
html{
    font-size: 1.6rem; /*quiere decir que por defecto la fuente 
    en la pagina es de 16x*/
}

*,*::before *::after{
    box-sizing: inherit; /*todos los elementos cojen el valor de caja padre*/
}

/*parrafos globales*/
h1, h2, h3{
    font-family: var(--titulos);
}
p, a{
    font-family: var(--parrafos);

}
.encabezado{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 70rem;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.encabezado::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index -1;
}
.logo h2{
    font-size: 3rem;
}
.logo h2 span{
    color: var(--azulClaro);
}
.ocultar{
    display: none;
}

.contenedor{
    margin: 0 auto;
    max-width: 120rem;
    width: 90%;
}

.btn {
    padding: 1rem 3rem;
    font-weight: bold;
    font-family: var(--parrafos);
    font-size: 2rem;
    border: none;
    color: var(--blanco)
}

.azul{
    background-color: var(--azulClaro);
}



@keyframes desplazamiento{
    /*desplazamiento inicial*/
    0%{
      
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(0);

        }
       

    }

    
    
.contenido-navegacion {
    display: flex; /*espara alinear*/
    align-items: center; /*alinea de arriba abajo*/
    justify-content: space-around;
    background-color: var(--blanco);
    box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.45);
}

@media(min-width: 768px) {
    .ocultar{
        display: inline;
    } 
}

.navegacion{
    background-color: var(--blanco);
    position: absolute;
    left: 0;
    top: 140px;
    width: 100;
    animation: desplazamiento .5s ease-in-out;
}
@media(min-width: 768px) {
    .ocultar{
        display: inline;
    } 
}
.navegacion a{
    display: block;
    font-size: 2rem;
    padding: 1.1rem;
    color: var(--oscuro);
    text-decoration: none;
    transition: background-color 3s ease-in-out;
}

@media(min-width: 768px) {
    .navegacion a{
        display: inline;
    } 
}

@media(min-width: 768px) {
    .navegacion{
        position: relative;
        top: unset;
        width: auto;
        background: unset;
        animation: unset;
    } 
}


.hamburguesa span{
    width: 5rem;
    height: 1rem;
    border: 3px solid white;
    background-color: var(--oscuro);
    display: block
}


@media(min-width: 768px) {
    .hamburguesa{
        display: none;
    } 
}

/*contenido del encabezado*/

.texto-encabezado h1{
    font-size: 3rem;
    text-align: center;
    color: var(--blanco);
    padding-top: 8rem;
}
  
.formulario-encabezado {
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.formulario-encabezado h2 {
    font-size: 3rem;
    text-align: center;
    margin-top: 0;


}












